*(preliminary)*

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Introducing Docker containers and container images</td></tr>
      <tr> <td>Exploring and Running Containers </td></tr>
      <tr><td>Docker Hub</td></tr>
<tr><td>Cleaning up Containers </td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
<tr><td>Your first own Docker images</td></tr>
<tr><td>More complex Docker images</td></tr>
      <tr> <td> Docker containers in research workflows: reproducibility and granularity</td></tr>
      <tr><td>Practical examples of docker in a research setting</td></tr>
    </table>
  </div>
</div>